matplotlib==3.10.1
numpy==2.2.5
pandas==2.2.3
streamlit==1.41.1
transformers==4.51.3
vaderSentiment==3.3.2
vaderSentiment==3.3.2
yfinance==0.2.56
tensorflow
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
